@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Albert Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 10%; /* Near Black for dark mode bg */
    --foreground: 0 0% 98%; /* White */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 10%; /* Black for primary in dark mode */
    --primary-foreground: 0 0% 98%; /* White */
    --secondary: 0 0% 10%; /* Black */
    --secondary-foreground: 0 0% 98%; /* White */
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 65% 38%; /* #a52a2a */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 65% 38%; /* #a52a2a */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 350 49% 33%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 10%; /* Near Black for dark mode bg */
    --foreground: 0 0% 98%; /* White */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 10%; /* Black for primary in dark mode */
    --primary-foreground: 0 0% 98%; /* White */
    --secondary: 0 0% 10%; /* Black */
    --secondary-foreground: 0 0% 98%; /* White */
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 65% 38%; /* #a52a2a */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 65% 38%; /* #a52a2a */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 350 49% 33%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark img[src$=".png"] {
    mix-blend-mode: lighten;
  }
}
